<!DOCTYPE html>
<html lang="ja">

<head>
  <% include partials/head %>
  <link rel="stylesheet" href="stylesheets/campaign.css">
</head>

<body>
  <% include partials/menu %>
  <div class="container bg-3 text-left">
    <h2 style="color:#c71585;">D坂ガス</h2>
    <img src="img/campaignMain.png" class="img-responsive img-rounded" alt="キャンペーンメイン" width="100%" />
    <h1>あなたのご利用履歴</h2>
      <div class="container-fluid">
        <table>
          <tr>
            <th>２０１９年<br>１１月</th>
            <th>２０１９年<br>１２月</th>
            <th>２０２０年<br>０１月</th>
          </tr>
          <tr>
            <td><%= price1.toLocaleString() %>円</td>
            <td><%= price2.toLocaleString() %>円</td>
            <td><%= price3.toLocaleString() %>円</td>
          </tr>
        </table>
      </div>
      <h1>あなたにオススメの料金プラン</h1>
      <div class="box container-fluid text-center">
        <h3>夜電気を使う人にオトクな料金プラン</h3>
        <p>先日と同じ条件でご利用の場合、
          <span class="campaighn_price"><%= price4.toLocaleString() %></span>円／月
          <br> ※従来のプランに比べ、
          <span style="color: #FF0000;font-size: 20px;"><%= (price3 - price4).toLocaleString() %></span>円オトク！！
        </p>
      </div>
      <div class="container-fluid">
        <h3 style="text-align: center;"> ＼ webで簡単1分 ／ </h3>
        <button type="button" class="campaignButton"
          onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'campaignSubmit'});" width="100%">
          <a href=" javascript:void(0);">
            <img src="img/campaignButton.png" class="img-responsive img-rounded" alt="申し込みボタン" width="100%">
          </a>
        </button>
      </div>
  </div>
</body>
<% include partials/script %>

</html>